.state {
    stroke: black;
    stroke-width: 1px;
}

.state.republican {
    fill: red;

}

.state.democrat {
    fill: blue;
}

.state:hover {
    fill: #111111;
    z-index: 10;
    cursor: grab;
}