.state {
    stroke: black;
    stroke-width: 1.1px;
    fill: #333333;
}

.state.high {
    fill: #F23D17;
}

.state.medium {
    fill: #DE7819;
}

.state.low {
    fill: #E8D815;
}

.state:hover {
    z-index: 10;
    cursor: grab;
    opacity: 60%;
}

.popup {
    position: absolute;
    background: white;
    padding: 10px;
    min-width: 100px;
    min-height: 200px;
}

.map {
    background: #e5e5e5;
    width: 100%;
}